RHT_OCP4_MASTER_API=https://api.na410.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.na410.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.na410.prod.nextcle.com
RHT_OCP4_DEV_USER=azrijo
RHT_OCP4_DEV_PASSWORD=00b1ec2ea5b84025b72c
RHT_OCP4_GITHUB_USER=jorgemoyon
RHT_OCP4_QUAY_USER=jorge_moyon_m
